---
layout: default
title: "The Frenzy"
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    {% if post.category %}
    <h1 class="post-title category-{{ post.category | slugify }}">
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    <div class="post-category">{{ post.category }}</div>
    {% else %}
    <h1 class="post-title">
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    {% endif %}
    </h1>

    <div class="post-meta">
      <a href="/about">By Rahil Shivjiani</a>
      <span> / </span>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
      <span> / </span>
      <a href="https://raw.githubusercontent.com/{{ site.github.repository_nwo }}/master/{{ post.path }}">M&#8595;</a>
      {% if post.category %}
      <span> / </span>
      <span>{{ post.category }}</span>
      {% endif %}
    </div>

    <div class="post-content-truncate">
      {% if post.content contains "<!--more-->" %}
      {{ post.excerpt }}
      {% else %}
      {{ post.content | strip_html | truncatewords:100 }}
      {% endif %}
    </div>

    <div class="read-more">
      <a href="{{ site.baseurl }}{{ post.url }}">Continue Reading &raquo;</a>
    </div>

    {% comment %}
    <div>{{ post.content | strip_html | truncate:600 }}</div>
    {% endcomment %}

  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>


<div class="more-posts">
  <aside class="related">
    <h2>More posts</h2>
    <ul class="related-posts">
      {% for post in paginator.posts limit:20 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %Y" }}</time></small>
          {{ post.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </aside>
</div>
