// Master CSS file

img.alignright { float: right; }
img.alignleft { float: left; }

wrapper {
  max-width: 30rem;
  margin: auto;
  padding: 1.5rem;
}

.wrapper {
  max-width: 50rem;
  margin: auto;
}

#header-menu a {
  opacity: 0.5;
}

#header-menu a:hover {
    opacity: 0.9;
    color: yellow;
}

* {
  /* box-sizing: border-box; */
}

a {
  text-decoration: none;
  color: #4084FF;
}

.masthead {
  margin-right: -9999rem;
  margin-left: -9999rem;
  margin-bottom: 2rem;
  margin-top: -8px;
  padding-right: 9999rem;
  padding-left: 9999rem;
  padding-bottom: 1px;
  padding-top: 1px;
  background: #353A4A;
  box-shadow: 0px 3px 3px cornflowerblue;
}

h3.masthead-title a {
  font-size: 1.7rem;
  text-decoration: none;
  color: #009FFF;
  text-shadow: .5px .5px .5px rgba(128, 128, 128, 0.58);
  font-size: 24px;
  font-weight: 400;
  font-family: <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
}

h3.masthead-title a:hover {
    color: lightgreen;
}

body {
  margin: 0px;
  color: #424258;
  font-size: 17px;
  line-height: 1.7;
}

html, body {
  overflow-x: hidden;
}

article.post {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: aliceblue;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px #888;
  /*border-radius: 1rem;*/
}

h1.post-title {
  display: block;
  text-decoration: none;
  background: cornflowerblue;
  color: white;
  margin: -1rem;
  margin-top: 3.5px;
  margin-bottom: 0.5rem;
  padding: 1rem;
  line-height: 1.5;
  position: relative;
  font-variant: small-caps;
}

h1.post-title a {
  display: block;
  text-decoration: none;
  background: cornflowerblue;
  color: whitesmoke;
  margin: -1rem;
  margin-bottom: -1.5rem;
  padding: 1rem;
  line-height: 1.5;
  font-variant: small-caps;
}

h1.post-title a:hover {
    background: cornflowerblue;
    color: lightgreen;
}

.post-category {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -0.7rem;
  margin-right: 0.2rem;
  font-size: smaller;
  opacity: 0.3;
}

h1.category-politics        { background: crimson; }
h1.category-politics a      { background: crimson; }
h1.category-sports          { background: brown; }
h1.category-sports a        { background: brown; }
h1.category-breaking-news   { background: chocolate; }
h1.category-breaking-news a { background: chocolate; }
h1.category-memoriam        { background: #555; }
h1.category-memoriam a      { background: #555; }
h1.category-tech            {background: #494b6b; }
h1.category-tech a          {background: #494b6b; }

time.post-date {
  margin-bottom: 1rem;
  display: block;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #444;
}

.post-meta {
  margin-bottom: .6rem;
  display: block;
  margin-top: 1rem;
  font-size: .85rem;
  /*color: #444;*/
  color: rgba(0,0,0,0.6);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid lightgray;
}

.post-meta a {
  text-decoration: none;
  color: inherit;
}

h3 {
  border-bottom: 1.5px solid deepskyblue;
  border-top: 1.5px solid cornflowerblue;
  padding: 7px 0px;
  text-align: center;
}

article h3 {
  border-bottom: 1.5px solid deepskyblue;
  border-top: 1.5px solid cornflowerblue;
  padding: 7px 0px;
  text-align: center;
  font-size: 25px;
  color: rgba(253, 0, 255, 0.56);
  background: rgba(16, 255, 0, 0.12);
  font-weight: normal;
  font-variant: small-caps;
}

article h4 {
    font-weight: 700;
    font-size: 20px;
    padding: 0px;
    font-variant: small-caps;
    border-bottom: 1px dotted lightpink;
    padding-bottom: 0px;
}

hr {
  background: none;
  background-size: initial;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), deepskyblue, blue, deepskyblue, transparent);
  border: 0;
  height: 1px;
  margin: 2.5rem auto;
  width: 50%;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

th {
  text-align: center;
  font-size: 15px;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

.read-more {
  display: block;
  width: 12rem;
  margin: auto;
  padding: 0.2rem;
  border: 1px solid cornflowerblue;
  text-align: center;
  background: cornflowerblue;
  color: white;
  /* font-weight: 600; */
  border-radius: 30px;
}

.read-more a {
  color: inherit;
  text-shadow: 0 0 10px #999;
}

.read-more:hover {
    color: cornflowerblue;
    background: whitesmoke;
}

article.page {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: aliceblue;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px #888;
  /*border-radius: 1rem;*/
}

h1.page-title {
  display: block;
  text-decoration: none;
  background: cornflowerblue;
  color: white;
  margin: -1rem;
  margin-top: 3.5px;
  margin-bottom: 0.5rem;
  padding: 1rem;
  line-height: 1.5;
  font-variant: small-caps;
}

h1.page-title a {
  display: block;
  text-decoration: none;
  background: cornflowerblue;
  color: white;
  margin: -1rem;
  margin-bottom: -1.5rem;
  padding: 1rem;
  line-height: 1.5;
  font-variant: small-caps;
}

#header-menu small {
  padding-left: 2rem;
}

ol {
  font-size: 12px;
  padding-top: 1rem;
  color: gray;
}

.pagination {
  margin: 3rem 0;
  overflow: hidden;
  color: rgba(0, 124, 255, 0.23);
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 0px 5px 0px #525252;
  width: 100%;
}

.pagination a {
  text-decoration: none;
  background: #e1ffe1;
  color: deepskyblue
}

.pagination-item {
  width: 100%;
  border-width: 1px;
  float: left;
  display: block;
  padding: 1rem;
  border: solid lightgray;
  font-size: 29px;
  background: #ffe7eb;
}

.related {
  display: block;
  background: aliceblue;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  border: solid lightgray;
}

.related-posts a {
  text-decoration: none;
  color: #3f3e3e;
  font-size: 1.2rem;
}

.related-posts time {
  font-size: smaller;
  color: #ff6681;
}

footer {
  margin-bottom: 2rem;
}

footer.footer {
  text-align: center;
  font-size: 1.1rem;
  color: #464646;
  line-height: 17px;
  padding-top: 2rem;
  margin: 3rem -9999rem 0rem;
  padding: 1.5rem 9999rem;
  background: rgba(0,0,10,0.9);
  border-top: .5rem solid lightpink;
}

footer.footer a {
  color: #464646;
  border-bottom: 1px dotted;
}

.jump-to-top a {
  display: block;
  background: #333;
  color: #111;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.1rem;
  border-radius: 5px;
  border: 1px solid;
  margin: 0.75rem auto 0;
}

html {
  font-family: "Segoe UI", Avenir,-apple-system,BlinkMacSystemFont,"Roboto","Helvetica Neue",Arial,sans-serif;;
  /*line-height: 1.5;*/
  background-image: url("http://rshivjiani.github.io/images/background-pattern.png");
  /* Background pattern from subtlepatterns.com */
}
