// Master CSS file

wrapper {
    max-width: 30rem;
    margin: auto;
    padding: 1.5rem;
}

.wrapper {
    max-width: 50rem;
    margin: auto;
}

#header-menu a {
    opacity: 0.5;
}

* {
box-sizing: border-box;
}

.masthead {
margin-right: -9999rem;
margin-left: -9999rem;
margin-bottom: 2rem;
margin-top: -8px;
padding-right: 9999rem;
padding-left: 9999rem;
padding-bottom: 1px;
padding-top: 1px;
background: #353A4A;
box-shadow: 0px 3px 3px cornflowerblue;

}

h3.masthead-title a {
  font-size: 1.7rem;
  text-decoration: none;
  color: #009FFF;

}

footer {
  margin-bottom: 2rem;

}

article.post {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: aliceblue;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px #888;

}

h1.post-title {
  display: block;
  text-decoration: none;
  background: cornflowerblue;
  color: white;
  margin: -1rem;
  margin-top: 3.5px;
  margin-bottom: 0.5rem;
  padding: 1rem;

}

h1.post-title a {
  display: block;
  text-decoration: none;
  background: cornflowerblue;
  color: white;
  margin: -1rem;
  margin-bottom: -1.5rem;
  padding: 1rem;

}

h3 {
    border-bottom: 1.5px solid deepskyblue;
    border-top: 1.5px solid cornflowerblue;
    padding: 7px 0px;
    text-align: center;

}

#header-menu small {
    padding-left: 2rem;

}

time.post-date {
    margin-bottom: 1rem;
    display: block;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #444;

}

html {
    font-family: "Segoe UI", Avenir,-apple-system,BlinkMacSystemFont,"Roboto","Helvetica Neue",Arial,sans-serif;;
    line-height: 1.5;
    background-image: url("https://secure.static.tumblr.com/c62657a34f8944bdd8eb42d6ccce3176/g1mrxa7/sABo2rh0w/tumblr_static_a7a244mlwr48wkwgwwggooosc.png");
}
