---
layout: default
---

<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <div class="post-meta">
    <a href="/about">By Rahil Shivjiani</a>
    <span> / </span>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
    <span> / </span>
    <a href="https://raw.githubusercontent.com/{{ site.github.repository_nwo }}/master/{{ page.path }}">M&#8595;</a>
  </div>

  <div class="post-content">{{ content }}</div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> </a>
  
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
    <li>
      <span class="archives-dates"><small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small></span>
      <span class="archives-titles"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
    </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
